body{
    font-family: "Arial", "Helvetica", sans-serif;
    font-size: 12pt;
    margin-left: 20px;
    margin-right: 20px;
}
h1 {
    font-size: 200%;
    font-weight: normal;
    font-style: italic;
    font-family: "Impact", fantasy;
}
input[type="button"]{
    background-color: #D0D4D4;
    border-radius: 4px;
    border: 2px solid #939393;
}
legend {
    font-size: 100%;
    font-style: italic;
    font-family: "Impact", fantasy;
    font-weight: bold;
}
.normal{
    font-size: 12pt;
}

.bling {
    color: green;
    text-decoration: underline;
    font-weight: bold;
    font-family: "Impact", fantasy;

}

footer {
    background-color: transparent;
    margin-top: -0.5em;
    padding: 2em;
    position: absolute;
    text-align:center;
    width: 100%;
}
