

body {
    font-family: "helvetica neue", helvetica, "lucinda sans unicode", "sans serif";
    font-weight: normal;
    background: whitesmoke;
    padding: 0;
    border: 0;
    margin: 0;
    font-size: 12px;
}

.container {
  position: relative;
  background: #ffffff;
  width: 50%;
  margin: 0 auto;
  height: 1000px;
}
.header_image {
    margin: auto;
    display: block;
}
a img {
    width: 7%;
    height: auto;
}

footer {
    background-color: transparent;
    margin-top: -0.5em;
    padding: 2em;
    position: absolute;
    text-align:center;
    width: 100%;
}